// @import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // user-select: none;

    &:focus {
        outline: 0;
        // outline: 2px solid #117243;
    }
}

body {
    color-scheme: dark;
    background-color: #040404;
    color: #f2f2f2;

    --white-color: #f2f2f2;
    --accent-color: #f6b232; // #117243 #00dc7d #143fb4 #f6b232 #3f3129
    --red-color: #e20338;
    font-family: monospace;

    .root {
        display: flex;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        main {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 1rem;

            canvas,
            svg {
                user-select: none;
                max-width: 75%;
                // width: 75%;
                max-height: 100%;
                border: 1px solid #f2f2f2;
                border-radius: 7px;

                line {
                    stroke: lightskyblue;
                    opacity: 0.2;
                }

                rect {
                    fill: #040404;
                    stroke: url(#node_stk);

                    &.active {
                        stroke: url(#node_stk_a);
                    }
                }

                text {
                    fill: #f2f2f2;
                    font-family: monospace;
                    font-size: 18px;
                    text-align: center;
                    pointer-events: none;
                }

                path {
                    fill: none;
                    stroke: #008736;
                    // stroke: url(#branch);
                    stroke-opacity: 0.5;
                    stroke-width: 10px;

                    &.active {
                        stroke-opacity: 1;
                        stroke: #143fb4;
                    }
                }
            }

            .info {
                border: 1px solid var(--accent-color);
                border-radius: 7px;
                width: 25%;
                height: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .row {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;
                    gap: 0.4rem 1rem;

                    label {
                        text-transform: capitalize;
                    }

                    textarea {
                        resize: vertical;
                    }

                    &.col {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                button {
                    &.add {
                        border-color: #00dc7d;
                    }

                    &.del {
                        border-color: var(--red-color);
                        text-transform: uppercase;
                    }
                }
            }

            button {
                cursor: pointer;
                background: transparent;
                color: #f2f2f2;
                font-size: 18px;
                border: 2px solid var(--accent-color);
                padding: 0.2rem 1rem;
                border-radius: 4px;
            }

            textarea,
            input {
                width: 100%;
                background: transparent;
                color: #f2f2f2;
                border-radius: 4px;
                border: 2px solid #272727;
                padding: 0.3rem;
                font-size: 16px;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #111;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #111;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: #111;
}
::selection {
    background-color: var(--accent-color);
    color: #040404;
}
